.header {
	width: 100%;
	height: 100px;
	background: #02720c;
}

/* Use float to get this container in its desired location. */

.content-left {
	width: 34%;
	/* This height is a placeholder. You will need to make some adjustments to get this container to look like the design. */
	float: left;
	height: calc(100vh - 200px);
	background: #ec8f8f;
}

/* Use float to get this container in its desired location. */

.content-mid {
	width: 66%;
	/* This height is a placeholder. You will need to make some adjustments to get this container to look like the design. */
	float: right;
	height: calc(100vh - 200px);
	background: #0d5b9b;
}

/* Use float to get this container to the bottom of the screen  */

.footer {
	width: 100%;
	height: 100px;
	background: #813388;
	clear: both;
}
